@use "../mixins/" as *;
@use "../variables/breakpoints" as *;

.advanced {
  @include layout-constrain;
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 13rem;

  &__heading {
    margin-bottom: 1rem;
    font-size: 2.4rem;
    color: var(--color-dark-violet-2);

    @media (max-width: $bp-2) {
      font-size: 2rem;
    }
  }

  &__paragraph {
    max-width: 34rem;
    font-size: 1.15rem;
    margin: 0 auto;
    color: var(--color-gray-violet);
    margin-bottom: 6rem;

    @media (max-width: $bp-2) {
      font-size: 1.15rem;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    position: relative;

    @media (max-width: $bp-2) {
      grid-template-columns: 1fr;
      max-width: 30rem;
      margin: 0 auto;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: var(--color-cyan);
      max-width: var(--layout-max-width);
      width: var(--layout-width);
      height: 0.5rem;
      top: 9.5rem;
      left: 0rem;
      z-index: 0;

      @media (max-width: $bp-2) {
        width: 0.5rem;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.card {
  background-color: var(--color-white);
  padding: 2rem;
  padding-top: 5rem;
  border-radius: 0.25rem;
  text-align: left;
  position: relative;

  @media (max-width: $bp-2) {
    max-width: 30rem;
    align-items: center;
    text-align: center;
  }

  &__icon {
    height: 5.5rem;
    width: 5.5rem;
    background-color: var(--color-dark-violet-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    top: -2.5rem;

    @media (max-width: $bp-2) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__heading {
    font-size: 1.4rem;
    color: var(--color-dark-violet-2);
    margin-bottom: 1rem;
  }

  &__paragraph {
    color: var(--color-gray-violet);
  }

  &:nth-child(2) {
    top: 2.5rem;
  }

  &:nth-child(3) {
    top: 5rem;
  }
}
