@use "../mixins" as *;

.header {
  @include layout-constrain;
  padding: 3.5rem 0;
  display: flex;
  align-items: center;

  &__logo {
    margin-right: 2rem;
  }

  &__nav {
    width: 100%;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2rem;
  }

  &__item {
    &--push {
      margin-right: auto;
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    color: var(--color-gray-violet);
    font-weight: var(--fw-2);
    transition: all 0.2s;

    &:hover {
      color: var(--color-dark-violet-1);
    }

    &--primary {
      @include cta-button;
    }
  }
}
